body {
    background-color: #292929;
}

#page_heading {
    padding: 15px;
    color: #b3b3b3;
}

.heading {
    background-color: #404040;
    border-radius: 10px;
    font-size: x-large;
    text-align: center;
    color: #b3b3b3;
}

.logo {
    width: 7%;
    height: 7%;
    border-radius: 75%;
    padding: 5px;
}

.link {
    margin: auto;
    width: 50%;
    color: #b3b3b3;
    text-align: left;
    font-size: large;
    background-color: #404040;
    border-radius: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}