body {
    background-color: #292929;
}

#page_heading {
    padding: 15px;
    color: #b3b3b3;
}

.heading {
    background-color: #404040;
    border-radius: 10px;
    font-size: x-large;
    text-align: center;
    color: #b3b3b3;
}

.logo {
    width: 7%;
    height: 14%;
    border-radius: 75%;
    padding: 5px;
}

.text-box {
    margin: auto;
    padding: 10px;
    color: #b3b3b3;
    text-align: left;
    font-size: large;
    background-color: #363636;
    border-radius: 10px;
    text-align: center;
}

.subheading {
    text-align: center;
}